/* src/components/Input/Input.css */

.input-group {
  position: relative; 
  margin-top: 20px; 
  margin-bottom: 15px;
}

.input-group label {
  position: absolute; 
  top: -10px;        
  left: 12px;         
  font-size: 12px;
  font-weight: 600;
  color: #464fff;
  background-color: #ffffffbe; 
  padding: 0 4px;    
  transition: all 0.2s ease; 
}

.input-group .required-star {
  color: red;
  margin-left: 2px;
}

.input-group input {
  width: 100%;
  padding: 14px;
  border-radius: 6px;
  font-size: 16px;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.input-group input:focus {
  outline: none;
  border-color: #6C25FF;
}

.input-group input:focus + label,
.input-group:focus-within label {
  color: #6C25FF;
}